<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaiyu56.wms.mapper.WmsCargoMapper">

    <resultMap type="com.kaiyu56.wms.api.domain.WmsCargo" id="WmsCargoResult">
        <result property="cargoId"    column="cargo_id"    />
        <result property="cargoCode"    column="cargo_code"    />
        <result property="cargoName"    column="cargo_name"    />
        <result property="packageType"    column="package_type"    />
        <result property="valuationType"    column="valuation_type"    />
        <result property="valuationValue"    column="valuation_value"    />
        <result property="valuable"    column="valuable"    />
        <result property="irregular"    column="irregular"    />
        <result property="documents"    column="documents"    />
        <result property="csrId"    column="csr_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWmsCargoVo">
        select cargo_id, cargo_code, cargo_name, package_type, valuation_type, valuation_value, valuable, irregular, documents, csr_id, dept_id, status, del_flag, create_by, create_time, update_by, update_time, remark from wms_cargo
    </sql>

    <select id="selectWmsCargoList" parameterType="com.kaiyu56.wms.api.domain.WmsCargo" resultMap="WmsCargoResult">
        <include refid="selectWmsCargoVo"/>
        <where>  
            <if test="cargoCode != null  and cargoCode != ''"> and cargo_code like concat('%', #{cargoCode}, '%')</if>
            <if test="cargoName != null  and cargoName != ''"> and cargo_name like concat('%', #{cargoName}, '%')</if>
            <if test="packageType != null  and packageType != ''"> and package_type = #{packageType}</if>
    
            <if test="valuationType != null  and valuationType != ''"> and valuation_type = #{valuationType}</if>
    
            <if test="valuationValue != null "> and valuation_value &gt;= #{valuationValue}</if>
            <if test="valuable != null  and valuable != ''"> and valuable = #{valuable}</if>
    
            <if test="irregular != null  and irregular != ''"> and irregular = #{irregular}</if>
    
            <if test="documents != null  and documents != ''"> and documents = #{documents}</if>
    
            <if test="csrId != null "> and csr_id = #{csrId}</if>
    
            <if test="deptId != null "> and dept_id = #{deptId}</if>
    
            <if test="status != null  and status != ''"> and status = #{status}</if>
    
        </where>
    </select>
    
    <select id="selectWmsCargoById" parameterType="Long" resultMap="WmsCargoResult">
        <include refid="selectWmsCargoVo"/>
        where cargo_id = #{cargoId}
    </select>
        
    <insert id="insertWmsCargo" parameterType="com.kaiyu56.wms.api.domain.WmsCargo" useGeneratedKeys="true" keyProperty="cargoId">
        insert into wms_cargo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cargoId != null">cargo_id,</if>
            <if test="cargoCode != null and cargoCode != ''">cargo_code,</if>
            <if test="cargoName != null and cargoName != ''">cargo_name,</if>
            <if test="packageType != null and packageType != ''">package_type,</if>
            <if test="valuationType != null and valuationType != ''">valuation_type,</if>
            <if test="valuationValue != null">valuation_value,</if>
            <if test="valuable != null">valuable,</if>
            <if test="irregular != null">irregular,</if>
            <if test="documents != null">documents,</if>
            <if test="csrId != null">csr_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cargoId != null">#{cargoId,jdbcType=BIGINT},</if>
            <if test="cargoCode != null and cargoCode != ''">#{cargoCode},</if>
            <if test="cargoName != null and cargoName != ''">#{cargoName},</if>
            <if test="packageType != null and packageType != ''">#{packageType},</if>
            <if test="valuationType != null and valuationType != ''">#{valuationType},</if>
            <if test="valuationValue != null">#{valuationValue},</if>
            <if test="valuable != null">#{valuable},</if>
            <if test="irregular != null">#{irregular},</if>
            <if test="documents != null">#{documents},</if>
            <if test="csrId != null">#{csrId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWmsCargo" parameterType="com.kaiyu56.wms.api.domain.WmsCargo">
        update wms_cargo
        <trim prefix="SET" suffixOverrides=",">
            <if test="cargoCode != null and cargoCode != ''">cargo_code = #{cargoCode},</if>
            <if test="cargoName != null and cargoName != ''">cargo_name = #{cargoName},</if>
            <if test="packageType != null and packageType != ''">package_type = #{packageType},</if>
            <if test="valuationType != null and valuationType != ''">valuation_type = #{valuationType},</if>
            <if test="valuationValue != null">valuation_value = #{valuationValue},</if>
            <if test="valuable != null">valuable = #{valuable},</if>
            <if test="irregular != null">irregular = #{irregular},</if>
            <if test="documents != null">documents = #{documents},</if>
            <if test="csrId != null">csr_id = #{csrId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where cargo_id = #{cargoId}
    </update>

    <delete id="deleteWmsCargoById" parameterType="Long">
        delete from wms_cargo where cargo_id = #{cargoId}
    </delete>

    <delete id="deleteWmsCargoByIds" parameterType="String">
        delete from wms_cargo where cargo_id in 
        <foreach item="cargoId" collection="array" open="(" separator="," close=")">
            #{cargoId}
        </foreach>
    </delete>
</mapper>