package ${packageName}.domain;

    #foreach ($import in $subImportList)
    import ${import};
    #end
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import ${basePackage}.common.core.annotation.Excel;
import ${basePackage}.common.core.web.domain.BaseEntity;

/**
 * ${subTable.functionName}对象 ${subTableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@TableName(value = "${tableName}")
@EqualsAndHashCode(callSuper = true)
public class ${subClassName} extends BaseEntity{
private static final long serialVersionUID=1L;

#foreach ($column in $subTable.columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.list)
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end
            #if($parentheseIndex != -1)
            @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
            #elseif($column.javaType == 'Date')
            @JsonFormat(pattern = "yyyy-MM-dd")
            @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
            #elseif($column.isPk == 1)
            @Excel(name = "序号", cellType = ColumnType.NUMERIC, prompt = "编号")
            #else
            @Excel(name = "${comment}")
            #end
            ## 判断是否是主键
            #if($column.isPk == 1)
            @TableId(value = "${columnName}", type = IdType.AUTO)
            #elseif($columnName == $deleteFlag)
            @TableLogic
            @TableField(value = "${columnName}")
            #else
            @TableField(value = "${columnName}")
            #end
        #end
    private $column.javaType $column.javaField;

    #end
#end
}
