<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaiyu56.system.mapper.SysIndexMapper">
    <select id="getVisitUserNumberBefore" resultType="java.util.Date">
        select access_time from v_system_user_visit_before;
    </select>
    <select id="getVisitUserNumberNow" resultType="java.util.Date">
        select access_time from v_system_user_visit_now;
    </select>

    <select id="getOperNumberBefore" resultType="java.util.Date">
        select oper_time from v_system_oper_times_before;
    </select>
    <select id="getOperNumberNow" resultType="java.util.Date">
        select oper_time from v_system_oper_times_now;
    </select>
</mapper>
